<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="img/school.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>University</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/semantic.min.css">
		<link rel="stylesheet" href="css/school.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<style>
			.table {
				border-collapse: collapse;
				width: 100%;
			}

			.table th,
			.table td {
				padding: 0.5rem;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!-- 导航条 -->
			<nav class="navbar navbar-expand-lg navbar-light bg-white">
				<div class="container">
					<a class="navbar-brand" :href="navbarData[0]?.href">
						{{ footerItems.name }}
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li v-for="(item, index) in navbarData" :key="index"
								:class="{ 'nav-item': true, 'active': index === navbarIndex }">
								<a class="nav-link" :href="item.href">{{ item.title }}</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!--主体-->
			<main style="padding-top: 20px; padding-bottom: 20px;">
				<div class="container">

					<img src="./img/banner03.webp" class="img-fluid" alt="...">

					<!-- 内容部分 -->
					<div class="mt-4">
						<!--title-->
						<h4 class="ui horizontal divider header text-white mb-5 animate__animated animate__fadeInUp">
							<i class="briefcase icon"></i>
							学校简介
						</h4>
						<!-- 内容 -->
						<div class="mb-5 animate__animated animate__fadeInUp">



							<p class="text-justify" style="color: white; text-indent: 2em;">
								郑州商学院（ZBU，简称“郑商”）是经国家教育部批准，由豫籍著名教育家王广亚博士为回馈桑梓、贡献家乡教育事业而捐资创建，是一所以经济学、管理学为主，文学、工学、艺术学、教育学、法学等多学科协调发展的普通本科高校。学校现有紫荆东校区、紫荆西校区和三彩校区共3个校区，占地面积2283亩，建筑面积50余万平方米。
							</p>

							<p class="text-justify" style="color: white; text-indent: 2em;">
								发展历程。学校创建于2004年，前身是与河南财经政法大学合作建设的独立学院——河南财经政法大学成功学院；2012年转设为独立设置的普通本科高校——郑州成功财经学院；2018年更名为郑州商学院。2021年，学校顺利通过了教育部本科教学工作合格评估，入选了河南省硕士学位重点立项培育单位，标志着学校人才培养质量和办学水平跨越到新的阶段。
							</p>
							<p class="text-justify" style="color: white; text-indent: 2em;">
								办学理念。落实立德树人根本任务，遵循高等教育规律，以“勤俭、朴实、自力、更生”为校训，秉承“伦理、创新、品质、绩效”的办学理念，弘扬“爱国爱校、宁静好学、礼让整洁”的办学精神，坚持“要有好的师资、要有好的设备、要有好的管理、要有好的制度、要有好的福利”的“五好”办学原则。董事长王育华女士秉承办学初心，坚定不移地选择非营利性办学模式，提出了“目标与行动”“团队与责任”“态度与细节”的办学要求，为学校发展树立了目标、指明了方向。近年来，学校在深入学习党的教育方针政策、认真分析国家和河南省经济发展战略的基础上，全面总结办学经验，提出了“以学生为中心、以教师为主体、以服务为导向、以制度为保障”的发展思路，坚持走内涵发展、特色发展之路，将学校建成省内一流、国内知名、商科特色鲜明的应用型普通本科高校。
							</p>
							<p class="text-justify" style="color: white; text-indent: 2em;">
								加强党的领导。坚持以习近平新时代中国特色社会主义思想为指导，全面加强党的领导，坚持社会主义办学方向，筑牢育人体系，厚植家国情怀。校党委强化党建责任，完善各级党组织设置，实现了党的基层组织全覆盖；选优配强分党委书记、党总支书记、党支部书记、组织员等各级党务干部；紧密结合学校实际，充分发挥党组织的政治核心作用、基层组织的战斗堡垒作用和党员的先锋模范作用。
							</p>
							<p class="text-justify" style="color: white; text-indent: 2em;">
								注重师资队伍建设。教师队伍由众多教授、博士等高级人才组成，实力雄厚。充分利用社会资源，建设了“校外师资库”和“双师双能型”教师队伍，聘请了多位国家有突出贡献专家、享受国务院政府特殊津贴专家、省管优秀专家、省级学术技术带头人、国内外知名学者和大型企业负责人担任学校客座教授、特聘教授和专业建设顾问等。坚持“破五唯”原则，有针对性地实行“一人一策、一事一议”，扩大选人用人视野，提高人才引进质量。学校现有专任教师中，高级职称教师占47.5%，具有硕士、博士学位的教师占89.9%，双师型教师占35.7%。其中，河南省教育厅优秀教育管理人才36人、省教育厅学术技术带头人48人、省级优秀教师51人、省级文明教师35人、省级青年骨干教师57人、省教育系统先进工作者48人。
							</p>

							<p class="text-justify" style="color: white; text-indent: 2em;">
								深化境外交流与合作。与美国、英国、韩国、马来西亚、西班牙等国家的15所高校建立了合作关系，积极开展中外合作办学项目；多次承办海峡两岸学术交流会议、“台湾青年中原文化之旅”等，定期选派优秀学生赴境外交流学习、实习就业，培养学生国际化视野。近年来，共有1000余名学生和200余名教师赴境外交流。
							</p>
							<p class="text-justify" style="color: white; text-indent: 2em;">
								近年来，学校人才培养质量和办学水平得到上级部门和社会各界的普遍认可与好评，先后荣获全国教育改革创新示范学校、全国本科高校综合影响力百强院校、建党100周年河南综合实力10强院校、河南高等教育高质量发展十佳领军院校、河南省高等教育教学工作先进单位、河南省普通高校毕业生就业工作优秀单位等多项省级及以上荣誉，并连续六年被省教育厅评为“河南省优秀民办学校”。人民日报、新华社、光明日报、中央电视台、中国青年报、中国教育报、河南日报等国家级、省级媒体多次报道学校的办学特色与教育教学成果。
							</p>
							<p class="text-justify" style="color: white; text-indent: 2em;">
								学校以殷殷实力为莘莘学子成就未来，搭建坚实平台，构筑成功之路，让每一位学子走向全国、走向世界、走向成功人生。
							</p>
						</div>
						<!--title-->
						<h4 class="ui horizontal divider header text-white mb-5 animate__animated animate__fadeInUp">
							<i class="male icon"></i>
							现任领导
						</h4>
						<!-- 现任领导 -->
						<table class="table table-dark table-bordered table-striped animate__animated animate__fadeInUp">
							<tr>
								<th scope="col">职务</th>
								<th scope="col">姓名</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>董事长</td>
									<td>王育华</td>
								</tr>
								<tr>
									<td>执行董事</td>
									<td>陈坚德</td>
								</tr>
								<tr>
									<td>党委书记</td>
									<td>吴建军</td>
								</tr>
								<tr>
									<td>校长</td>
									<td>吴泽强</td>
								</tr>
								<tr>
									<td>党委副书记、纪委书记</td>
									<td>裴晓涛</td>
								</tr>
								<tr>
									<td>副校长</td>
									<td>李 刚</td>
								</tr>
								<tr>
									<td>校长助理、工会主席</td>
									<td>张江涛</td>
								</tr>
								<tr>
									<td>校长助理</td>
									<td>刘升阳</td>
								</tr>
							</tbody>
						</table>

					</div>


				</div>
			</main>

			<!-- 页脚 -->
			<footer class="font-weight-light text-white-50 pt-5 pb-5">
				<div class="container">
					<div class="row justify-content-md-between">
						<div class="order-4 order-lg-1 col-md-12 col-lg-4 mr-lg-auto">
							<a class="navbar-brand mb-3 text-white" href="/">{{ footerItems.name }}</a>
							<p class="small font-weight-light mb-3">
								{{ footerItems.text }}
							</p>
						</div>
						<div v-for="(item, index) in items" :key="index" :class="item.class">
							<h4 class="h6 text-white mb-3">{{ item.title }}</h4>
							<ul class="list-unstyled">
								<li v-for="(link, linkIndex) in item.links" :key="linkIndex" class="mb-2">
									<a class="text-white-50" :href="link.url" target="_blank">{{ link.label }}</a>
								</li>
							</ul>
						</div>
					</div>
					<hr class="my-3 opacity-10">
					<div class="row">
						<div class="col">
							<p class="small font-weight-light mb-0">
								<a class="text-white-50" href="https://beian.miit.gov.cn/" target="_blank">
									{{ footerItems.icp }}
								</a>
							</p>
						</div>
						<div class="col text-md-center">
						</div>
						<div class="col text-md-right">
							<p class="small font-weight-light mb-0">
								{{ footerItems.copyright }}
								<a class="text-white-50" href="#">
									{{ footerItems.name }}
								</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- 引入脚本文件 -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
		<script src="js/vue3.js"></script>

		<script src="js/school.js"></script>

	</body>

</html>
